body {
    margin: 0px;
}

.menu {
    background-color: rgb(255,255,191);
    position: relative;
    display: flex;
    height: 44px;
}

.title {
    position: relative;
    margin-left: 100px;
    display: inline-block;
    margin-top:10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.side-menu {
    position: fixed;
    right: 0;
    height: 44px;
    width: 80px;
}

.side-menu:hover {
    background-color: rgb(204,204,0);
}
.menu-btn {
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 11px 32px 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

    /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.option {
    font-family: Arial, Helvetica, sans-serif;
}