body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  position: absolute;
  padding: 6px 8px;
  font: 12px Arial;
  bottom: 25px;
  right: 15px;
  color: #6E6E6E;
  background: rgba(255,255,255,0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px #1C1C1C;
} 

.legend div span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
