<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
    <title>Geographic Maps</title>
</head>
<body>
  <div class="menu">
    <a class="page-title" href="https://camiloibanez.github.io/Earthquakes/templates/index.html">Earthquake Geographic Maps</a>
    <div class="side-menu">
      <span class="menu-btn" onclick="openNav()">Menu</span>
    </div>
  </div>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="option" href="https://camiloibanez.github.io/Earthquakes/templates/index.html#about">About</a>
    <a class="option" href="https://camiloibanez.github.io/Earthquakes/templates/map1.html">Last week</a>
    <a class="option" href="https://camiloibanez.github.io/Earthquakes/templates/map2.html">Last Month</a>
  </div>

  <div id="body">
    <div class="card1">
      <img class="pic1" src="../static/images/1595603509_earthquake.webp" alt="seismograph">
      <a class="link-btn1" href="https://camiloibanez.github.io/Earthquakes/templates/map1.html">
        Last Week Map
      </a>
    </div>
    <div class="card2">
      <img class="pic2" src="../static/images/san-andreas-fault.jpg" alt="San Andreas Fault">
      <a class="link-btn2" href="https://camiloibanez.github.io/Earthquakes/templates/map2.html">
        Last Month Map
      </a>
    </div>
  </div>
  <div id="body2">
    <h1 id="about"><b>About</B></h1>
    <div class="description">
      <p>
        Global maps of the earthquakes that occured during the last week or last month. Earthquake data is gathered from <a href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php">earthquake.usgs.gov</a>. Fault line data is collected from <a href="https://github.com/fraxen/tectonicplates">github.com/fraxen/tectonicplates</a>. Magnitude is represented by darker color and greater marker size. Different map tiles are available from satellite view to street view.
      </p>
    </div>
  </div>
  <div class="footer">
    <a class="source" href="https://github.com/camiloibanez/Earthquakes">Source Code</a>
  </div>
        
            
</body>
  <script type="text/javascript" src="../static/js/logic3.js"></script>
</html>