<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/css/style3.css">
    <title>Geographic Maps</title>
</head>
<body>
    <div class="menu">
      <a class="page-title" href="/templates/index.html">Earthquake Geographic Maps</a>
      <div class="side-menu">
        <span class="menu-btn" onclick="openNav()">Maps</span>
      </div>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="option" href="/templates/index.html">About</a>
      <a class="option" href="/templates/map1.html">Earthquakes</a>
      <a class="option" href="/templates/map2.html">Earthquake and Faultlines</a>
    </div>
        
            
</body>
  <script type="text/javascript" src="../static/js/logic3.js"></script>
</html>